@font-face {
	font-family: 'AritaDotum';
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	src: url('https://cdn.jsdelivr.net/gh/yoohg1017/test@master/font/AritaDotumThin.woff') format('woff');
}

@font-face {
	font-family: 'AritaDotum';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('https://cdn.jsdelivr.net/gh/yoohg1017/test@master/font/AritaDotumLight.woff') format('woff');
}

@font-face {
	font-family: 'AritaDotum';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('https://cdn.jsdelivr.net/gh/yoohg1017/test@master/font/AritaDotumMedium.woff') format('woff');
}

@font-face {
	font-family: 'AritaDotum';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('https://cdn.jsdelivr.net/gh/yoohg1017/test@master/font/AritaDotumSemiBold.woff') format('woff');
}

@font-face {
	font-family: 'AritaDotum';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('https://cdn.jsdelivr.net/gh/yoohg1017/test@master/font/AritaDotumBold.woff') format('woff');
}
